PREFIX=.
AUTO_REACTION=on
AUTO_VIEW_STATUS=on
AUTO_SAVE_STATUS=off
AUTO_READ_MESSAGES=off
PM_PERMIT=off
BOT_MENU_LINKS=https://telegra.ph/file/0b918caf8e6440bc67fd5.jpg 
BOT_MODE=private
DATABASE_URL=postgresql://smoke_ekze_user:GXWMaPAnMw4w4ZbYYQJKC3JS1f0Ft9iN@dpg-cqcpacjv2p9s73e1n5d0-a.oregon-postgres.render.com/smoke_ekze
OWNER_NAME=SMOKE ADS
OWNER_NUMBER=233539958864
WARN_COUNT=3
STARTING_MESSAGE=on
PRESENCE=recording
CHAT_BOT=off
SESSION_ID='' 
